@import "tailwindcss";

:root {
  --background: #f9fafb; /* 统一浅色背景 */
  --foreground: #1f2937; /* 统一深色文字 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}